@model OnlineExamService.Models.McqExam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>McqExam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMcqQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMcqQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllocatedTimeInMinute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllocatedTimeInMinute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DifficultyLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DifficultyLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.McqExamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
